@font-face { 
	font-family: digital;
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/digital-7.ttf');
}

* {
	color: #fff;
}

a {
	color: #000;
}

body {
	background-color: #000;
}

#main {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
}

#name {
	display: none;
}

#main * {
	max-width: 100%;
	max-height: 100%;
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.bottom {
	position: absolute;
	bottom: 0px;
}
.clock {
	height: 70px;
	overflow: hidden;	
	font-family: digital;
}

#digitalClock {
	right: 0px;
	font-size: 50px;
	width: 200px;
}

#analogClock {
	right: 200px;
}

#date {
	width: 200px;
	height: 30px;
	font-size: 25px;
	right: 0px;
	text-align: center;
}

#errors {
	position: absolute;
	top: 50%;
	left: 50%;
}

.error {
	position: absolute;
	height: 200px;
	width: 300px;
	background-color: #eee;
	padding: 10px;
	padding-top: 35px;
	color: #000;
	border: outset 1px #666;
}

.error .title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #333;
	color: #eee;
	font-size: 20px;
	font-weight: bold;
}

.error .title img {
	position: absolute;
	left: 0px;
	opacity: 0.5;
}

.news {
	width: 80%;
	margin: auto auto;
	margin-top: 35px;
	border: 1px solid #aaa;
	padding: 10px;
}

.news th {
	font-size: 50px;
}

.news td {
	font-size: 25px;
	text-align: center;
	padding-bottom: 20px;
}
