@font-face { 
	font-family: digital;
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/digital-7.ttf');
}

@font-face { 
	font-family: gothic;
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/gothic.ttf') format('truetype');
	src:url('../fonts/gothic.woff') format('woff');
}

@font-face { 
	font-family: gothic;
	font-style: normal;
	font-weight: bold;
	src:url('../fonts/gothicb.ttf') format('truetype');
	src:url('../fonts/gothicb.woff') format('woff');
}

@font-face { 
	font-family: abduction;
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/abduction2002.ttf');
}


* {
	color: #fff;
	font-family: gothic;
}

a { 
	color: #000;
}

body {
	background-color: #000;
	background-image: url("../images/background.jpg");
}


#logo{
	position:absolute;
	top:20%;
	height:60%;
	width:98%;
	z-index:-1;
}

#info{
	margin-top:20px;
	font-family:abduction;
	font-size:50px;
	color:#000;
	width:99%;
	height:10%;
	opacity:0.8;
	
}


#main {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
}

#name {
	display: none;
}

#main * {
	max-width: 100%;
	max-height: 100%;
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.bottom {
	position: absolute;
	bottom: 0px;
}
.clock {
	height: 70px;
	overflow: hidden;	
	font-family: digital;
}

#digitalClock {
	right: 0px;
	font-size: 50px;
	width: 200px;
}

#analogClock {
	right: 200px;
}

#date {
	width: 200px;
	height: 30px;
	font-size: 25px;
	right: 0px;
	text-align: center;
}

#errors {
	position: absolute;
	top: 50%;
	left: 50%;
}

.error {
	position: absolute;
	height: 200px;
	width: 300px;
	background-color: #eee;
	padding: 10px;
	padding-top: 35px;
	color: #000;
	border: outset 1px #666;
}

.error .title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #333;
	color: #eee;
	font-size: 20px;
	font-weight: bold;
}

.error .title img {
	position: absolute;
	left: 0px;
	opacity: 0.5;
}

.news {
	width: 80%;
	margin: auto auto;
	margin-top: 80px;
	border-radius:30px;
	padding:1%;
	background-color:rgba(0,0,0,0.5);
}

.news th {
	font-size: 53px;
	font-weight: bold;
}

.news td {
	font-size: 28px;
	text-align: center;
	padding-bottom: 20px;
}

#infotext {
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 30px;
	position: absolute;
	bottom: 0px;
}
