.column {
	position: absolute;
	top: 60px;
	font-size: 20px;
	
}

.column table td {
 	border-collapse: collapse;
 	border: solid 2px white;
 	
}

#d0 {
 	float: left;
 	width: 100%;
	margin-left: 1%;
}

#d1 {
	width: 100%;
	position: float;
	left: 450px;
	padding-left: 5px;
	border-right: solid 1px white;
	border-left: solid 1px white;
}

#d2 {
	margin-right: 1%;
	left: 890px;
	float: right;
	width: 100%;
}

.keys {
 	color: white;
	display: inline;

}

.comment {
	width: 100%;
}

.background {
		
	opacity: 1;
	
}
.background table{
/*	background-color: rgba(0,0,0,0.5);*/
	
}
