.column {
	top: 60px;
	font-size: 20px;
	
}

.column table td {
 	border-collapse: collapse;
 	border: solid 2px white;
 	
}

#d0 {
 	margin-top: 50px;
 	float: left;
 	width: 48%;
	margin-left: 1%;
}

#d1 {
 	margin-top: 50px;
	width: 48%;
	float:right;
	margin-right: 1%;
	padding-left: 5px;
	border-left: solid 1px white;
}

.keys {
 	color: white;
	display: inline;
	margin-right: 50%;

}

.comment {
	width: 100%;
}

.background {
		
	opacity: 1;
	
}
.background table{
/*	background-color: rgba(0,0,0,0.5);*/
	
}
