.timetable_column table{
	background-color: rgba(0,0,0,0.5);
	border-collapse: collapse;
	border: white 1px;
	padding: 4px;
}

.changed {
	background-color: rgba(255,255,255,0.5);

}

.timetable_column td{
 	text-align: center;
	min-width: 110px;
}

.timetable_classes {
 	text-align: center;
	min-width: 50px;
	}

.timetable_teachers {
 	text-align: center;
	min-width: 20px;
	}